body {
  background-image: url("../images/Flourishtry-Background-Main.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
}

#container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 2% 0 2%;
}

#header-container {
  background-color: rgb(167, 167, 167);
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  height: auto;
  padding: 10px;
  text-transform: uppercase;
}

#header-container h1 {
  margin: 0;
}

#header-container a {
  color: white;
  text-decoration: none;
}

#nav-section-1 {
  display: inline-block;
  text-align: center;
  width: 20%;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.indigo {
  color: indigo;
}

.violet {
  color: violet;
}

/* .home-link-mouse-over {
  color: pink !important;
  transition: color 0.5s;
}

.home-link-mouse-out {
  color: white !important;
  transition: color 0.5s;
} */

#nav-section-2 {
  display: inline-block;
  text-align: center;
  width: 50%;
}

#nav-section-2 li,
#nav-section-3 li {
  display: inline-block;
  margin-right: 30px;
}

#nav-section-3 {
  display: inline-block;
  width: 20%;
}

.nav-link-mouse-over {
  color: lightblue !important;
  transition: color 0.5s;
}

.nav-link-mouse-out {
  color: white !important;
  transition: color 0.5s;
}

.sign-up-log-in-mouse-over {
  color: orange !important;
  transition: color 0.5s;
}

.sign-up-log-in-mouse-out {
  color: white !important;
  transition: color 0.5s;
}

main {
  background-color: rgba(0, 0, 0, 0.05);
  height: 2000px;
  width: 100%;
}

main #offers {
  background-color: pink;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  font-size: 120%;
}

main #offers span {
  text-decoration: underline;
}

main #slogan {
  /* border: 2px solid red; */
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  font-size: 150%;
  margin: auto;
  text-align: center;
  width: 50%;
}

main #slogan p:first-child,
main #slogan p:nth-child(2) {
  color: blue;
  font-size: 250%;
  margin-bottom: 0;
  margin-top: 0;
}

#images-container {
  /* border: 2px solid red; */
}

#images {
  /* border: 2px solid red; */
  margin-left: 10%;
  margin-right: 10%;
}

#images img {
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.25);
  height: 320px;
  margin-left: 100px;
  width: 320px;
}

footer {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px;
}
