/* Body and container site-wide CSS settings */

body {
  background-image: url("../images/Flourishtry-Background-Main.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
}

#container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 1.5%;
}

/* Flourishtry Logo Colours */

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.indigo {
  color: indigo;
}

.violet {
  color: violet;
}

/* Site-Wide Header and Navigation Styling */

#header-container {
  background-color: rgb(167, 167, 167);
  box-shadow: 0 10px 15px rgb(0, 0, 0);
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  height: auto;
  position: sticky;
  text-transform: uppercase;
  top: 0;
  user-select: none;
}

#header-container h1 {
  margin: 0;
  padding: 10px;
}

#header-container a {
  color: white;
  text-decoration: none;
}

header #offers {
  background-color: pink;
  font-size: 120%;
  padding: 5px;
  text-align: center;
}

header #offers span {
  text-decoration: underline;
}

#nav-section-1 {
  display: inline-block;
  text-align: center;
  width: 20%;
}

#nav-section-2 {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 50%;
}

#nav-section-2 li {
  position: relative;
}

#nav-section-2 li,
#nav-section-3 li {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
}

.sub-nav-menu {
  display: none;
}

#nav-link-products-dropdown,
#nav-link-services-dropdown {
  background-color: rgb(167, 167, 167);
  border: 1px solid blaCK;
  box-shadow: 0 10px 15px rgb(0, 0, 0);
  padding-left: 0;
  position: absolute;
  text-align: center;
  left: -40px;
  top: 90px;
  width: auto;
  /* z-index: -1; */
}

#nav-link-products li {
  list-style-type: none;
  margin: 30px;
}

#nav-section-3 {
  display: inline-block;
  margin: 0;
  width: 20%;
}

.nav-link-mouse-over {
  color: lightblue !important;
  cursor: pointer;
  transition: color 0.5s;
}

.nav-link-mouse-out {
  transition: color 0.5s;
}

.sign-up-log-in-mouse-over {
  color: orange !important;
  transition: color 0.5s;
}

.sign-up-log-in-mouse-out {
  transition: color 0.5s;
}

main {
  background-color: rgba(0, 0, 0, 0.05);
  height: 2000px;
  padding-top: 20px;
  width: 100%;
}

main #slogan {
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  font-size: 150%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  width: 50%;
}

main #slogan p:first-child,
main #slogan p:nth-child(2) {
  color: blue;
  font-size: 250%;
  margin-bottom: 0;
  margin-top: 0;
}

#images {
  margin-left: 10%;
  margin-right: 10%;
}

#images img {
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.25);
  height: 320px;
  margin-left: 100px;
  width: 320px;
}

footer {
  background-color: rgb(167, 167, 167);
  color: white;
  font-weight: bold;
  padding: 5px;
}
